*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #F5F5F5;
    --black: #161A30;
    --biege: #F2EAD3;
    --dark-biege: #DFD7BF;
    --brown: #3F2305;
}

body{
    height: 100vh;
    background-color: var(--biege);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: var(--black);
}

.container {
    width: 400px;
    height: auto;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin: 30px auto 0 auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 2px 2px var(--brown);
}

#fecha {
    background-color: red;
    padding: 20px;
    width: 250px;
    margin: 25px 50px 0 50px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
}

.perfil h1 {
    margin-bottom: 15px;
}

.agregarTarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: var(--biege);
    border-radius: 10px;
    margin-bottom: 20px;
}

.agregarTarea i {
    font-size: 25px;
    transition: .5s;
}

.agregarTarea i:hover {
    transform: scale(1.2);
}

#input-tarea{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--biege);
    text-align: center;
    padding: 5px;
}

.tareas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: var(--biege);
    height: 40px;
    margin: 20px 0;
}

.tareas i {
    font-size: 20px;
    transition: .5s;
}

.tareas i:hover {
    transform: scale(1.2);
}